#### Importing necessary libraries

In [17]:
import pandas as pd

Loading movie titles

In [18]:
columns = [0,1,2]
movies = pd.read_csv(
    "netflix-data/movie_titles.csv",
    encoding="ISO-8859-1",
    usecols=columns
)

In [19]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17770 entries, 0 to 17769
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      17770 non-null  int64
 1   Year    17763 non-null  float64
 2   Title   17770 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 416.6+ KB

Only 7 titles have missing data so they are dropped and years converted to int values

In [20]:
movies.dropna(inplace=True)
movies.Year = movies.Year.astype(int)
movies

          ID  Year                                              Title
0          1  2003                                    Dinosaur Planet
1          2  2004                         Isle of Man TT 2004 Review
2          3  1997                                          Character
3          4  1994                       Paula Abdul's Get Up & Dance
4          5  2004                           The Rise and Fall of ECW
...      ...   ...                                                ...
17765  17766  2002  Where the Wild Things Are and Other Maurice Se...
17766  17767  2004                  Fidel Castro: American Experience
17767  17768  2000                                              Epoch
17768  17769  2003                                        The Company
17769  17770  2003                                       Alien Hunter

[17763 rows x 3 columns]